ul img{
    width: 250px;
    height: 250px;
}

#logo{
    height: 50px;
    width: 50px;
}
.bg-danger{
    background-color: #E40613 !important;
    
}

/* body{
    background-color:  #111827;
    
} */
.bg-secondary{
    background-color: #6c757d5c !important;
}

