ul img{
    width: 250px;
    height: 250px;
}

#logo{
    height: 50px;
    width: 50px;
}
.bg-danger{
    background-color: #E40613 !important;
    
}

body{
    background-color:  #111827;
    
}

btn-danger{
    background-color: #E40613 !important;
}

.text-center{
    color: white;
}

