ul img{
    width: 250px;
    height: 250px;
}

#logo{
    height: 50px;
    width: 50px;
}
.bg-danger{
    background-color: #E40613 !important;
}
/* Debs */

#thierry{
	-webkit-animation: rotate-scale-up 0.66s linear both;
	        animation: rotate-scale-up 0.66s infinite both;
}

@-webkit-keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  @keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  
  
  


/* body{
    background-color:  #111827;
    
} */
.bg-secondary{
    background-color: #6c757d5c !important;
}


.btn-danger{
    background-color: #E40613 !important;
}

.imgCard{
    width: 250px;
    height: 250px;
}

.cardHome{
    min-width: 275px;
    height: 420px;
}
img.attachment-full{
    display: none !important;
    height: 0px !important;
    width: 0px !important;
}
h1{
    font-size: 100px;
  }

  .btn-danger:hover {
    background-color: white !important;
    color: #E40613 !important;
}

.rounded {
    border-radius: 4px !important;
}
.form-check-input:hover {
    background-color: #b7b7b7;
    border: none;
}
.form-check-input:focus, .focused{
    border: none !important;
    box-shadow: unset !important;
}
.form-check-input:checked {
    background-color: #b51717 !important;
    border: none;
}