ul img{
    width: 250px;
    height: 250px;
}

#logo{
    height: 50px;
    width: 50px;
}
.bg-danger{
    background-color: #E40613 !important;
    
}

body{
    background-color:  #111827;
    
}

.btn-danger{
    background-color: #E40613 !important;
}

.text-center{
    color: white;
}

.imgCard{
    width: 250px;
    height: 250px;
}

.cardHome{
    min-width: 275px;
    height: 420px;
    color: rgb(255, 255, 255)!important;
}
img.attachment-full{
    display: none !important;
    height: 0px !important;
    width: 0px !important;
}
.card-body{
    color: rgb(255, 255, 255)!important;
}